/* EXERCISE 1
        Create a Jumbotron section with a quick explanation / image of the website.
        Make it appear with a fade-in animation effect when the page loads.
    
*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 4s 0.5s forwards;
}

.jumbotron {
  background: rgb(211, 211, 211);
  background: linear-gradient(
    0deg,
    rgba(211, 211, 211, 1) 0%,
    rgba(52, 58, 64, 1) 90%
  );
}

/* EXERCISE 2
        Use a Bootstrap Card to contain every album in the favorite list you previously created.
        Use the elements of a card bootstrap provides you with to display nicely the album informations such as: album title, artist, year, etc..
    */
/* EXERCISE 3
        Foreach album in the favorite list, place a badge on the top-left corner of the album with the genre of the music
    */
.genre-badge {
  position: absolute;
  background: #ffd604;
  border: 2px solid rgba(0, 0, 0, 0.712);
  top: 0;
  left: 0;
  box-shadow: 2px 2px 2px 1px rgb(211, 211, 211);
  padding: 5px 5px;
}
